<%= form_with(model: friendlink) do |form| %>
  <% if friendlink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(friendlink.errors.count, "error") %> prohibited this friendlink from being saved:</h2>

      <ul>
        <% friendlink.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :subject %>
    <%= form.text_field :subject %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.text_field :picture %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
