<%= render "blogs/header" %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @friendlink.subject %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@friendlink.picture_url, :width => 300) if @friendlink.picture.present? %>
</p>

<p>
  <strong>Name:</strong>
  <%= @friendlink.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @friendlink.url %>
</p>

<%= link_to 'Edit', edit_friendlink_path(@friendlink) %> |
<%= link_to 'Back', friendlinks_path %>
