<%#= render "header" %>

<!--<h1>Blogs</h1>-->

<table>
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Title</th>-->
<!--      <th>Content</th>-->
<!--      <th>Picture</th>-->
<!--      <th colspan="3"></th>-->
<!--    </tr>-->
<!--  </thead>-->

  <tbody>
    <% @blogs.each do |blog| %>
<!--      <tr>-->
        <h2><%= blog.title %></h2>
        <p><%= markdown(blog.content) %></p>
        <!--        <td><%#= blog.picture %></td>-->
        <b><%= link_to 'Show',admin_blog_path(blog) %>  </b>
        <b><%= link_to 'Edit', edit_blog_path(blog) %>  </b>
        <b><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></b>
<!--      </tr>-->
    <% end %>
  </tbody>
</table>

<!--<br>-->

<%#= link_to 'New Blog', new_blog_path %>
<!--<br>-->
<%#= link_to 'blogs',admin_blogs_url %>
<!--<br>-->
<%#= link_to 'comments',admin_comments_url %>
<!--<br>-->
<%#= link_to 'friendlinks',admin_friendlinks_url %>
<!--<br>-->
<%#= link_to 'users',admin_users_url %>

