<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%=stylesheet_link_tag 'application',media: 'all' %>>
    <%=csrf_meta_tags %>
  </head>

  <body>
  <header class="nav navvar-fixed-top navbar-inverse">
    <div class="container">
      <%=link_to "longbiu blog",'#',id:"logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", blogs_path %></li>
          <li><%= link_to '友链管理',friendlinks_url %></li>
          <li><%= link_to 'Log in',users_path %></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
